@media (max-width: 600px) {
    main {
        margin: 0;
    }

    nav {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        position: fixed;
    }

    .logo {
        display: none;
    }

    ul {
        flex-direction: row;
        height: 100%;
    }

    a svg {
        margin: auto;
    }
}

@media (min-width: 600px) {
    nav {
        top: 0;
        width: 5rem;
        height: 100vh;
        position: fixed;
    }

    nav:hover {
        width: 17rem;
    }

    nav:hover span {
        display: block;
    }

    nav:hover .logo svg {
        transform: rotate(-180deg);
    }

    ul {
        flex-direction: column;
        height: 100%;
    }
}